[Unit]
Description=my-app service
After=docker.service
Requires=docker.service
 
[Service]
WorkingDirectory=/home/student/project
ExecStart=docker compose up
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
